
body{
    color: 666666;
    width: 100;
    margin: 0;
    padding: 0;
}
.name {
    font-size: 32px;
    margin-left: 80px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header2{
    display: flex;
    margin-top: 32px;
    margin-right: 80px;
}

.promo{
    margin-top: 160px;
    margin-left: 80px;
    margin-bottom: 160px;
}

.text1{
    width: 700px;
    height: 144px;
    font-size: 60px;
}

.text2{
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 40px;
}

.button1{
    width: 200px;
    height: 56px;
    background-color: FD5A14;
}